@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --primary: 86 86 159;
        --secondary: 175 102 175;
        --accent: 250 193 103;
        --content: 0 0 0;
        --background: 255 255 255;
        --edge: 212 216 217;
    }
    h1 {
        @apply text-[40px] leading-10 font-extrabold md:text-5xl;
    }
    h2 {
        @apply text-4xl font-bold;
    }
    h5 {
        @apply text-lg font-semibold;
    }
    input,
    textarea,
    select {
        @apply px-5 py-2.5 border focus:border-black rounded-lg focus:outline-none;
    }
}
@layer components {
    .container {
        @apply mx-auto px-6;
    }
    .button {
        @apply py-2 px-4 text-center font-medium rounded-lg hover:shadow-lg flex justify-between items-center gap-2;
    }
    .primary {
        @apply text-white bg-gradient-to-r from-primary via-secondary to-accent;
    }
    .social-icon {
        @apply w-10 h-10 border rounded-full flex items-center justify-center;
    }
    .card {
        @apply bg-background border rounded-lg shadow-lg;
    }
}

.swiper-button-next:after,
.swiper-button-prev:after {
    background-color: rgb(255, 255, 255);
    padding: 8px 13px;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}
.swiper-button-disabled {
    visibility: hidden;
    opacity: 0;
    transition: 0.3s ease-in-out;
}
